{% extends 'base.html' %}

{% load i18n %}
{% load humanize %}

{% block article %}
<article>
  {% block left %}
  <div class="l_box f_l">
    <div class="banner f_l">
      <script type="text/javascript">
        //设置
        myFocus.set({
            id:'myFocus',//ID
            pattern:'mF_fancy'//风格
        });
      </script>
      <div id="myFocus"><!--焦点图盒子-->
        <div class="loading"></div>
        <!--载入画面(可删除)-->
        <div class="pic"><!--图片列表-->
          <ul>
            {% for banner in banner_list %}
            <li><a href="{{ banner.url }}"><img src="/media/{{ banner.image }}" thumb="" alt="{{ banner.title }}" text="" /></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <!--banner代码 结束 -->

    <div class="blank"></div>

    <div class="topnews">
      <h2>
          <b>文章</b>推荐
      </h2>
      {% if article_list %}
          {% for article in article_list %}
          <div class="blogs" style="height: 235px">
            <figure><img src="/media/{{ article.author.image }}"></figure>
            <ul>
              <h3 style="margin: 0;height: 0">
                  <a href="{% url 'article-view' article.pk %}" style="text-decoration: none;display: block;margin-bottom: 6px">{{ article.title }}</a>
                  {% if article.is_top %}
                      <a href="" class="btn btn-danger btn-xs" style="text-decoration: none">精</a>
                  {% endif %}
                  {% if article.article_from %}
                      <a href="" class="btn btn-dark btn-xs" style="text-decoration: none">
                          转载
                      </a>
                  {% else %}
                      <a href="" class="btn btn-warning btn-xs" style="text-decoration: none">
                          原创
                      </a>
                  {% endif %}
                  <a href="{% url 'category-view' article.category.pk %}" class="btn btn-success btn-xs" style="text-decoration: none">{{ article.category }}</a>
              </h3>
              <p style="margin-top: 50px;">
                  {% autoescape off %}
                      {{ article.summary|slice:'180' }}
                  {% endautoescape %}
                  {% if article.summary|length > 180 %}
                      ......
                  {% endif %}
              </p>
              <p class="autor" style="padding: 0;line-height: 35px;margin-top: 20px">
                  <span class="lm f_l">
                      {% if article.get_tags %}
                          {% for tag in article.get_tags %}
                              <a href="#" class="btn btn-primary btn-xs" style="text-decoration: none">{{ tag }}</a>
                          {% endfor %}
                      {% endif %}
                  </span>
                  <span class="dtime f_l">{{ article.create_time }}</span>
                  <span class="meta" style="margin-left: -30px">
                      <span class="glyphicon glyphicon-user"></span>
                      {{ article.author }}
                  </span>
                  <span class="viewnum f_r">浏览(<a href="/">{{ article.reading_num }}</a>)</span>
{#                  <span class="pingl f_r">评论（<a href="/"></a>）</span>#}
                  <span class="media pull-right" style="padding: 0;">
                      <a href="{% url 'article-view' article.pk %}" target="_blank" class="btn btn-sm btn-info hidden-sm" style="text-decoration: none">阅读全文</a>
                  </span>
              </p>
            </ul>
          </div>
          {% endfor %}
      {% else %}
          <div class="no-article" style="font-size: 30px;margin-top: 20px;">暂时没有您想要的文章</div>
      {% endif %}
    </div>
    {% if page_obj %}
        {% include 'blog/page.html' %}
    {% endif %}
  </div>
  {% endblock %}

  <div class="r_box f_r">
    <div class="tit01">
      <h3>
          <span class="glyphicon glyphicon-star"></span>
          关注我
      </h3>
      <div class="gzwm">
        <ul>
          <li><a class="xlwb" href="#" target="_blank" style="text-decoration: none">新浪</a></li>
          <li><a class="txwb" href="#" target="_blank" style="text-decoration: none">腾讯</a></li>
          <li><a class="rss" href="#" target="_blank" style="text-decoration: none">邮箱</a></li>
          <li>
              <a class="wx" style="text-decoration: none" href="" onmouseover="tip.start(this)" tips="<font color='#fff'>关注<b>我的</b>微信账号</font><br><b><img src='/static/images/code1.jpg'></b>">微信</a>
          </li>
          <div id="mjs:tip" class="tip" style="position:absolute;left:0;top:0;display:none;"> </div>

          <script>
		  var tip={$:function(ele){
              if(typeof(ele)=="object")
                return ele;
              else if(typeof(ele)=="string"||typeof(ele)=="number")
                return document.getElementById(ele.toString());
                return null;
              },
              mousePos:function(e){
                var x,y;
                var e = e||window.event;
                return{x:e.clientX+document.body.scrollLeft+document.documentElement.scrollLeft,
            y:e.clientY+document.body.scrollTop+document.documentElement.scrollTop};
              },
              start:function(obj){
                var self = this;
                var t = self.$("mjs:tip");
                obj.onmousemove=function(e){
                  var mouse = self.mousePos(e);
                  t.style.left = mouse.x + 10 + 'px';
                  t.style.top = mouse.y + 10 + 'px';
                  t.innerHTML = obj.getAttribute("tips");
                  t.style.display = '';
                };
                obj.onmouseout=function(){
                  t.style.display = 'none';
                };
              }
              }
		  </script>

        </ul>
      </div>
    </div>
    <!--tit01 end-->
{#    <div class="ad300x100"> <img src="/static/images/ad300x100.jpg"> </div>#}
    <div class="moreSelect" id="lp_right_select">
      <script>
        window.onload = function ()
        {
            var oLi = document.getElementById("tab").getElementsByTagName("li");
            var oUl = document.getElementById("ms-main").getElementsByTagName("div");

            for(var i = 0; i < oLi.length; i++)
            {
                oLi[i].index = i;
                oLi[i].onmouseover = function ()
                {
                    for(var n = 0; n < oLi.length; n++) oLi[n].className="";
                    this.className = "cur";
                    for(var n = 0; n < oUl.length; n++) oUl[n].style.display = "none";
                    oUl[this.index].style.display = "block"
                }
            }
        }
      </script>
      <div class="ms-top">
        <ul class="hd" id="tab">
          <li class="cur"><a href="/" style="text-decoration: none">热门直击</a></li>
          <li><a href="/" style="text-decoration: none">最新评论</a></li>
          <li><a href="/" style="text-decoration: none">活跃用户</a></li>
        </ul>
      </div>
      <div class="ms-main" id="ms-main">
        <div style="display: block" class="bd bd-news" >
          <ul>
            {% for article in hot_article_list %}
            <li style="height: 40px;line-height: 37px;margin-top: 1px">
                <a href="{% url 'article-view' article.pk %}" target="_blank" style="text-decoration: none">
                    {% autoescape off %}
                    {{ article.title|slice:'16' }}
                    {% endautoescape %}
                    {% if article.summary|length > 16 %}
                        ...
                    {% endif %}
                    &nbsp;&nbsp;&nbsp;
                    <span class="badge" style="margin-bottom: 3px">{{ article.reading_num }}</span>
                </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div  class="bd bd-news">
          <ul>
            {% for comment in new_comment_list %}
                <li style="height: 50px;line-height: 37px;position: relative;margin-top: -5px">
                    {% if comment.user.image %}
                        <img src="/media/{{ comment.user.image }}" width="35" height="35" style="display: inline-block">
                    {% else %}
                        <img src="" width="35" height="35" style="display: inline-block">
                    {% endif %}
                        <a href="#" style="color: #438904;display: inline-block;position: absolute;top: 3px;left: 70px;text-decoration: none">{{ comment.user.username }} 评论:</a>
                        <a href="{% url 'article-view' comment.article.pk %}" style="display: inline-block;position: absolute;top: 19px;left: 70px;text-decoration: none">
                        {% autoescape on%}
                        {{comment.text|slice:"20" }}
                        {% endautoescape %}
                        {% if comment.text|length > 20 %}
                        ......
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
          </ul>
        </div>
        <div class="bd bd-news">
          <ul>
            {% for user in hot_user_list %}
            <li style="height: 50px;line-height: 37px;margin-top: -5px">
                {% if user.image %}
                <img class="" src="/media/{{ user.image }}" width="35" height="35" style="display: inline-block">
                {% else %}
                <img class="" src="" width="35" height="35" style="display: inline-block">
                {% endif %}
                <a href="" style="display: inline-block;text-decoration: none">
                    {{ user.username }}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="badge">{{ user.au }}</span>
                </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!--ms-main end -->
    </div>
    <!--切换卡 moreSelect end -->

    <div class="cloud">
      <h3>
          <span class="glyphicon glyphicon-calendar"></span>
          标签云
      </h3>
      <ul>
        {% for category in category_list %}
        <a href="{% url 'category-view' category.pk %}" style="text-decoration: none">{{ category.name }}</a>
        {% endfor %}
      </ul>
    </div>
    <div class="tuwen">
      <h3>
          <span class="glyphicon glyphicon-flag"></span>
          图文推荐
      </h3>
      <ul>
      {% if article_list %}
        {% for article in article_list|slice:'5' %}
        <li>
            <a href="{% url 'article-view' article.pk %}" style="text-decoration: none">
                <img src="/media/{{ article.author.image }}">
                <b style="text-decoration: none">{{ article.title|slice:'16' }}</b>
            </a>
          <p>
              <span class="tulanmu">
                  <a href="{% url 'search' %}?q={{ article.tags }}" style="text-decoration: none">{{ article.tags }}</a>
              </span>
              <span class="tutime">{{ article.create_time }}</span>
          </p>
        </li>
        {% endfor %}
      {% endif %}
      </ul>
    </div>
{#    <div class="ad"> <img src="/static/images/03.jpg"> </div>#}
    <div class="links" style="margin-bottom: 20px">
      <h3>
          <span class="glyphicon glyphicon-link"></span>
          友情链接
      </h3>
      <ul>
        {% for link in link_list %}
            <li><a title="{{ link.name }}" target="_blank" href="{{ link.url }}" class="btn btn-xs btn-{{ link.color }}">{{ link.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!--r_box end -->
</article>

{% endblock %}






